.contact-form {
    flex-wrap: wrap;

    .contact-text-col {
        
        h3 {
            font-family: "Afacad", sans-serif;;
            font-size: 46px;
        }

        ul {
            h4 {
                font-family: "Afacad", sans-serif;;
                font-size: 22px;
            }

            li {
                font-family: "Montserrat", sans-serif;;
                font-size: 18px;
            }
        }
    }
    
    form {
        flex-basis: 35%;
        position: relative;

        input,
        textarea {
            font-family:  "Inter", sans-serif;;
            padding: 15px;
            background-color: #ebebeb !important;
            box-shadow: none !important;
            border: 2px solid #ebebeb;

            &:focus {
                border-color: #ebebeb;
            }
        }

        button {
            font-family:  "Inter", sans-serif;;
            font-weight: 600;
            background-color: #000;
            color: #fff;
            border-radius: 8px;
            border: none;
            width: 100%;
            padding: 15px;
            transition: background-color .4s ease;

            &:hover {
                background-color: lighten(#000, 10%);
            }
        }
    }

    form.active {
        background-color: #000;
        border-radius: 1rem;

        input,
        textarea {
            z-index: -1;
        }
    }
}

.check {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-size: 60px;
    visibility: hidden;
    scale: .5;
    opacity: 0;
    transition: all .4s ease-out;
}

.check.active {
    visibility: visible;
    scale: 1;
    opacity: 1;
}

.loader-wrapper.active, 
.check.active {
    visibility: visible;
}

.loader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: all .4s ease-out;
}

.loader {
    border: 3px solid #fff;
    border-left-color: #999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: loader 2s linear infinite;
}

.frequently-section {

    .frequently-title {
        font-family: "Afacad", sans-serif;
        font-size: 48px;
        font-weight: 500;
    }

    .frequently-wrapper {
        width: 50%;
        margin: auto;

        article {
            background-color: #fff;
            width: 100%;
            border-bottom: 2px solid rgb(212, 212, 212);

            header {
                padding: 20px 0;
                cursor: pointer;
            }

            h4 {
                font-family: "Afacad", sans-serif;
                font-size: 30px;
                pointer-events: none;
            }

            i {
                font-size: 18px;
            }

            .frequently-text {
                display: grid;
                grid-template-rows: 0fr;
                transition: all 0.3s ease;
            }

            .frequently-text.open {
                grid-template-rows: 1fr;
            }

            p {
                font-family: "Montserrat", sans-serif;;
                font-size: 18px;
                overflow: hidden;
            }
        }
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

//!RESPONSIVE SETTINGS
@media(max-width: 992px) {
    form {
        flex-basis: 100% !important;
        height: 500px;
    }

    .contact-text-col {
        text-align: center;
    }

    .frequently-wrapper {
        width: 90% !important;
    }
}

@media(max-width: 576px) {
    .contact-text-col {
        
        h3 {
            font-size: 28px !important;
        }

        ul {
            h4 {
                font-size: 22px;
            }

            li {
                font-size: 18px;
            }
        }
    }

    .frequently-wrapper {
        article {
            header {
                padding: 10px 0 !important;
            }

            h4 {
                font-size: 20px !important
            }

            i {
                font-size: 16px !important;
            }

            p {
                font-size: 16px !important;
            }
        }
    }
}